@model List<WecareMVC.Models.Album>
@{
    ViewBag.Title = "WecareStore";
}

@*top slider*@
<div id="promotion">

    <div class="row carousel-holder">

        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="slide-image" src="~/Content/images/Slider/care.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="~/Content/images/Slider/mother.jpg" alt="">
                    </div>                  
                    <div class="item">
                        <img class="slide-image" src="~/Content/images/Slider/Travel.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="~/Content/images/Slider/coupon.jpg" alt="">
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>

    </div>
</div>

@*end of top slider*@

@*begin top 5 sales*@
<div class="row">
    <h3 class="text-danger col-xs-12">Top5 熱賣商品</h3>
    @helper Truncate(string input, int length)
{
    if (input.Length <= length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}

    @foreach (var album in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                @*style="max-height:400px !important">*@
                <img alt="@album.Title" src="@album.AlbumArtUrl" />
                @*<img src="~/App_Data/Images/善存.jpg" />*@
                <div class="caption">
                    <h4 class="pull-right text-success"><s>$ @(album.Price +3)</s></h4>
                    <h4>
                        <a href="@Url.Action("Details", "Store", new { id = album.AlbumId })">
                            @Truncate(album.Title, 10)
                        </a>
                    </h4>
                    @*<p>作者：@Truncate(album.Artist.Name, 25)</p>*@
                    <h3 class="text-danger">優惠價：$ @(album.Price)</h3>
                </div>
                <div class="ratings">
                    <p class="pull-right">已賣出：@album.OrderDetails.Sum(o=>o.Quantity) 件</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>
            </div>
        </div>
    }

</div>

@*<em>Fresh</em> off the grill!!*@

@*<ul id="album-list">
        @foreach (var album in Model)
        {
            <li>
                <a href="@Url.Action("Details", "Store",
                new { id = album.AlbumId })">
                    <img alt="@album.Title" src="@album.AlbumArtUrl" />
                    <span>@album.Title</span>
                </a>
            </li>
        }
    </ul>*@

