@model WecareMVC.Models.OrderDetail

@{
    ViewBag.Title = "訂單詳細資訊";
}

@*<h2>訂單詳細資訊</h2>*@

<div>
    <h4>訂單詳細資訊</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Album.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.OrderDetailId }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
