@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "刪除";
}

<h2>刪除使用者</h2>

<h3>確定刪除使用者?</h3>
<div>
    <h4>使用者</h4>
    <hr />
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>*@
    <p>@Html.DisplayFor(model => model.UserName)</p>
    <br />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="刪除" class="btn btn-default" /> |
            @Html.ActionLink("回帳務管理", "Index")
        </div>
    }
</div>
